
@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
       url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



:root {

    --image-filter: none;
  
    /* font - .5rem = 8px | 1rem = 16px */
    --body-font: "latoregular", sans-serif;
    --h1-font-size: 1.65rem;
    --h2-font-size: 1.45rem;
    --h3-font-size: 1.25rem;
  
    --normal-font-size: 1.15rem;
    --small-font-size: 1rem;

     /* Light mode */
    --light-switch-icon: url('../media/theme-icons/sun.svg');
    --light-text: #000;
    --light-bg: #ffffff;
    --light-theme: #b0e0e6;
    --btn-light: #00d5f1;
    --light-theme-filter: invert(1) sepia(0) saturate(0) hue-rotate(0);

    /* Dark mode */
    --dark-switch-icon: url('../media/theme-icons/moon.svg');
    --dark-text: #f0f8ff;
    --dark-bg: #5d4037;
    --dark-theme: #7a7368;
    --btn-dark:#4d1600;
    --dark-theme-filter: invert(0) sepia(0) saturate(0) hue-rotate(0);

    --switch-icon: var(--light-switch-icon);
  }

  /* base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    scroll-behavior: smooth;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }
  
  body,
  button,
  input,
  textarea {
    font-family: var(--body-font);
    font-size: var(--bold-font-size);
  }
  
  body {
    background-color: var(--main-color);
    color: var(--font-color);
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--font-color);
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-weight: var(--font-semi-bold);
    cursor: default;
  }
  
  h1 {
    font-size: var(--h1-font-size);
    cursor: default;
  }
  
  h2 {
    font-size: var(--h2-font-size);
    cursor: default;
  }
  
  h3 {
    font-size: var(--h3-font-size);
    cursor: default;
  }
  
  input {
    color: var(--font-color);
  }

  p, span{
    font-size: var(--normal-font-size);
    line-height: 1.6rem;
    cursor: default;
  }
  li{
    list-style: none;
  }


  #theme-toggle:hover {
    cursor: pointer;
  }
  body.theme-light #theme-toggle::before {
    content: var(--switch-icon);
  }
  
  body.theme-dark #theme-toggle::before {
    content: var(--switch-icon);
  }
  
  .theme-dark {
    --main-color: var(--dark-bg);
    --secondary-color: var(--dark-theme);
    --switch-icon: var(--dark-switch-icon);
    --font-color: var(--dark-text);
    --btn-color:var(--btn-dark);
  }
  
  .theme-light {
    --main-color: var(--light-bg);
    --secondary-color: var(--light-theme);
    --switch-icon: var(--light-switch-icon);
    --font-color: var(--light-text);
    --btn-color: var(--btn-light);
  }

.flex {
    display: flex;
}

.container{ 
  margin: 0 auto; 
  max-width: 1440px;
}




.wrapper{
  margin-top: 40px;
  transform: translate(0, -50%);
}

.deffault-btn{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  border: 3px solid var(--btn-color);
  color: #fff;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all .35s;
}

.deffault-btn:before,
.deffault-btn:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: var(--btn-color);
  z-index: -1;
  transition: all .35s;
}

.deffault-btn:before{
  opacity: .5;
}

.deffault-btn:after{
  transition-delay: .2s;
}

.deffault-btn:hover{
  color: var(--font-color);
}

.deffault-btn:hover:before,
.deffault-btn:hover:after{
  top: 0;
}



header{
  background-color: var(--secondary-color);
  position: sticky;
  z-index: 3;
  top: 0;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link {
  position: relative;
  font-size: 1.2rem;
  color: var(--font-color);
  text-decoration: none;
  transition: 0.7s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--font-color);
  transition: opacity 300ms, transform 300ms; /* visibility + movement */
  opacity: 1;
  transform: scale(0); /* start value for scale */
  transform-origin: center;
}

.nav-link:hover::after,
.nav-link:focus::after { /* click and hover  */
  opacity: 1;
  transform: scale(1);
}


.hamburger{
  display: none;
  cursor : pointer; 
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--font-color);
}

@media(max-width:768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0; 
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0; 
  }

  .nav-menu.active{
    left: 0; 
  }
}

.main-pic-section{
    background-image: url('../media/main-pic.jpg');
    background-size: cover; /* Масштабирование изображения для заполнения фона */
    background-position: 50% 50%; /* Положение изображения в центре фона */
    background-repeat: no-repeat; /* Запрет повторения изображения */
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.main-pic-section > h1{
    margin-top: 200px;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    text-align: center; 
    color: #f0f8ff;
    cursor: default;
}

@media(max-width:768px) {
  .main-pic-section > h1{
    font-size: 3rem;
  }
}

.types-section{
    margin-top: 50px;
    margin-bottom: 70px;
    height: auto;
    flex-direction: column;
    align-items: center;
    
}

.types-section > h1{
    margin-top: 3rem; 
    font-size: 2.5rem;
}


.types-section > span{
  margin-top: 0.5rem;
  width: 70%;
  text-align: center;
  font-size: var(--normal-font-size);
}

.types-list{ 
    display: grid;
    grid-template-areas: "one two three four five six";
}

.production-type:nth-child(1){
  grid-area: one;
}
.production-type:nth-child(2){
  grid-area: two;
}
.production-type:nth-child(3){
  grid-area: three;
}
.production-type:nth-child(4){
  grid-area: four;
}
.production-type:nth-child(5){
  grid-area: five;
}
.production-type:nth-child(6){
  grid-area: six;
}

.production-type{ 
    margin:30px;
    display: grid;
    grid-template-rows: 150px 40px;
    grid-template-columns: 120px;
    align-items: center;
}

.production-type > img{ 
    width: 100%;
    border-radius: 60px;
    height: 100%;
    grid-row: 1; 
    object-fit: cover;
}

.production-type > h1{ 
    text-align: center;
}

@media(max-width:1439px){
  .types-list{
    grid-template-areas:
  "one two three four"
  ". five six .";
  }
}

@media(max-width:760px){
  .types-list{
    grid-template-areas: 
    "one two"
    "three four"
    "five six";
  }

  .types-section > h1{ 
    font-size: 2rem;
  }

  .production-type{
    margin: 16px; 
  }
}


.about-section{
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px;
  background-color: var(--secondary-color);
}

.about-picture{
  background-image: url('../media/about-bakery.jpg');
  background-size: cover; 
  background-position: 50% 50%; 
  background-repeat: no-repeat; 
  grid-row: 0;
}

.about-text-block{
  flex-direction: column;
  padding-left: 20px;
  padding-top: 60px;
  padding-right: 10px;
  padding-bottom: 30px;
  
}

.about-text-block > h1{ 
  margin-bottom: 8px;
  font-size: 2.5rem;
}

.about-text-block > p{ 
  text-align: justify;
  font-size: var(--normal-font-size);
  margin-bottom: 8px;
}

@media(max-width:768px){
  .about-section{
    display: grid;
    grid-template-rows: 300px auto;
    grid-template-columns: 100%;
  }

  .about-text-block > div.flex{
    justify-content: center;
    margin-bottom: 8px;
  }
}

.reviews-section{
  margin-top: 20px;
  margin-bottom: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.reviews-section > h1{
  font-size: 2.5rem;
  text-align: center;
}

.slider{
  margin-top: 3rem;
  overflow: hidden;
  width: 100%;
}

.slides{ 
  align-items: left;
  animation: switch-slides 10s infinite;
  width: 400%;
}

.slide{ 
  width: 25%;
  align-items: center;
  justify-content: center;
}


@keyframes switch-slides{ 
  0% {
    transform: translateX(0);
  }
  22%{
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  47%{
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  72%{
  transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  97%{
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0rem);
  }

}

.review{
  justify-content: center;
  align-items: center;
  width: 70%;
}

.review > img{ 
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 8px;
  object-fit: cover; 
  justify-content: center;
  align-items: center;
}



.review-text{
  border-radius: 15px;
  padding: 20px;
  background-color: var(--secondary-color);
  text-align: inherit;
  margin-left: 20px;
  justify-content: center;
  flex-direction: column;
}

.review-text > p, .name, .job{
  max-width: 100%;
  font-size: var(--normal-font-size);
}

@media(max-width:768px){
  .reviews-section > h1{
    font-size: 2rem;
  }

 .review{
  flex-direction: column;
 }

  .review > img{ 
    margin-bottom: 8px;
    height: 175px;
    width: 175px;
  }
  
  
}

.name{
  font-weight: bold;
}

.footer{ 
  height: 200px; 
  background-color: var(--secondary-color);
  justify-content: center;
  gap: 20%;
}

.footer .pages, .contact-info{
  gap: 10px;
  margin-top: 3rem;
  flex-direction: column;
}

.contact-info>h3{
  font-size: 24px;
}

.footer-address, .footer-nav, .footer-phone{
  cursor: pointer;
}

.product-section{
  margin-top: 20px;
  margin-bottom: 60px;
}

.product-section > h1{ 
  padding: 20px;
  font-size: 36px;
}

.products-list{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.product-item{
  background-color: var(--secondary-color);
  border-radius: 40px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 300px;
}

.product-item > img{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.product-text{
  display: flex;
  flex-direction: column;
  height: 175px;
}

.product-text > h1.product-name{
  padding-left: 8px;
  padding-top: 8px;
  font-size: 28px;
}

.product-text > p.product-description{
  font-size: 18px;
  padding-left: 8px;
  padding-right: 6px;
  height: 100px;
  text-align: justify;
}

.product-text > span.product-price{
  font-size: 28px;
  text-align: center;
  padding-left: 8px;
}

@media(max-width:768px){
  .products-list{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .product-item{
    justify-content: left;
    flex-direction: row;
    width: 95%;
    height: 200px;
  }

  .product-item > img{
    height: 100%;
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 40px;
  }

  .product-text{
    height: 100%;
  }

  .product-text > h1.product-name{
    padding-left: 4px;
    padding-top: 4px;
    font-size: 26px;
  }

  .product-text > p.product-description{
    font-size: 18px;
    padding-left: 4px;
    padding-right: 6px;
    height: 130px;
    text-align: justify;
  }

}

.join-our-team-section{
  background-image: url('BakeryFront/media/about-page-pic.jfif');
    background-size: cover; /* Масштабирование изображения для заполнения фона */
    background-position: 50% 30%; /* Положение изображения в центре фона */
    background-repeat: no-repeat; /* Запрет повторения изображения */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-our-team-section > h1{ 
  margin-top: 200px;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    text-align: center; 
    color: #f0f8ff;
    cursor: default;
}

.team-member-list{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-member-list>h1{
  font-size: 3rem;
  margin-bottom: 10px;
}

.team-member{
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
}

.team-member:nth-of-type(2n){
  flex-direction: row;
}

.team-member:nth-of-type(2n+1){
  flex-direction: row-reverse;
}



.team-member-photo{
  width: 40%;
  height: 300px;
  object-fit: cover;
}

.team-member:nth-of-type(2n) > .team-member-photo{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.team-member:nth-of-type(2n+1) > .team-member-photo{
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.team-member:nth-of-type(2n) > .member-text{
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.team-member:nth-of-type(2n+1) > .member-text{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.member-text{
  padding: 15px;
  background-color: var(--secondary-color);
  height: 300px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.member-text > h1{ 
  margin-bottom: 8px;
}

.member-text > h1.member-name{
  font-size: 2rem;
}

.member-text > span.work-exp{
  margin-bottom: 6px;
}

.member-text > p.about-member{
  text-align: justify;
}

@media(max-width:768px) {
  .team-member{
    display: flex;
    flex-direction: column !important; 
    justify-content: center;
    align-items: center;
  }

  .member-text{
    height: auto;
    width: 100%;
  }

  div.team-member:nth-child(n) > img.team-member-photo{
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  div.team-member:nth-child(n) > div.member-text{
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  
}

.rfw {
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rfw form {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 800px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 40px;
}

.rfw .form .box {
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}

.box{
  background-color: var(--main-color);
}

.rfw .form textarea {
  height: 15rem;
  resize: none;
}